$orangeGradient: linear-gradient(90deg, rgba(228,58,21,1) 0%, rgba(230,82,69,1) 100%);
$secondaryColor: #003C40;
$primaryColor: #002B2E;
$lightBlue: #2BC4CE;
$lightGrey: #D9D9D9;
$dark: #151515;
$green:#3B6159;
$lightWhite:#E0F1F2;

html{
	background: $primaryColor;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}
  
a {
    color: #000;
}
  
.header {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header img{
    padding: 20px;
}
  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: $primaryColor;
}
  
.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
}
  
.header li a:hover,
.header .menu-btn:hover {
    background-color: $green;
}
  
.header .logo {
    display: block;
    float: left;
    padding: 20px;
}
  
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
  
  
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
  
.header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
  
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
.header .menu-icon .navicon:before {
    top: 5px;
}
  
.header .menu-icon .navicon:after {
    top: -5px;
}
  
.header .menu-btn {
    display: none;
}
  
.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
  
@media (min-width: 49em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
}
  
